html{
	background:#fafafa;
}
body{
	background:#dddddd;
	min-width:768px;
	
	margin:0;
	text-align:center;
	margin:0 auto;
}
header{
	background:#fafafa;
	height:20px;
	width:100%;
	padding: 0 15%;
	/*position:fixed;
	top:0; 距顶部0*/ 
	z-index:999;
	min-width:768px;
}
main{
	background:#fafafa;
	
}

.main_head{
	background:#29b078;
	text-align:right;
	color:#ffffff;
	padding-right:11%;
	height:85px;
}
.main_head_btn{
	background:#29b078;
	padding:0 4%;
	outline:none;
	border:none;
	height:82px;
}
.main_head_btn:hover{
	border-bottom:5px solid #fff;
}
.main_head_btn:focus{
	border-bottom:5px solid #fff;
}
.Customer_service_hotline{
	color:#42b683;
	float:left;
}

._logo{
	float:right;
	
}
.active img{
	 width:100%;
 }
.Control_box{
	color:#ffffff;
}
.carousel-caption1{
	position:relative;
	bottom:200px;
	
}
.carousel-caption2{
	position:relative;
	bottom:150px;
	
}
.main_top{
	padding: 0 15%;
	padding-top:70px;
	
}
.main_top img{
	width:25px;
}
.main_top_text{
	width:100%;
	font-size:0.1em;
	text-align:left;
} 
.main_top_text2{
	padding-top:10px;
	font-size:1em;
	font-weight:900;
} 

.archive_img{
	padding-top:12px;
}
.shape_img{
	padding-top:8px;
}
.rocket{
	float:left;
	width:20%;
	margin-right:5%;
}
.archive{
	float:left;
	width:20%;
	margin-right:5%;
}
.shape{
	float:left;
	width:20%;
	margin-right:5%;
}
.student{
	float:left;
	width:25%;
	text-align:left;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:5%;
	border-left:1px dashed #dedede;
}
.glyphicon-user{
	color:#29b078;
}
.study{
	padding: 0 15%;
	float:left;
	width:100%;
}
.study_text{
	padding-top: 3%;
}
.study_box1{
	padding-top: 3%;
	display: flex;
    justify-content: space-between;
	align-items: center ;
}
.study_box_1{
	float:left;
	
	
}
.study_box_text{
	
	font-size:0.1em;
	text-align:left;
	width:11%;
	
	margin-left:2%;
}
.study_img{

	width:10px;
	
	margin-right:2%;
	margin-left:2%;
}
.study_box_2{
	
	background:#ffffff;
	
	width:40px;
	color:#29b078;
	border-style:solid;
	border-color:#ebebeb;
	border-radius:50px;
	height:40px;
	padding-top:8px;
}
.good_student{
	padding: 0 15%;
	float:left;
	width:100%;
}
.good_student_box1{
	padding-top: 3%;
	background:#ffffff;	
	width:24%;
	float:left;
	margin-right:1%;
	border-style:solid;
	border-color:#ebebeb;
}
.good_student_box2{
	padding-top: 3%;
	background:#ffffff;	
	width:23%;
	float:left;
	margin: 0 1%;
	border-style:solid;
	border-color:#ebebeb;
}
.good_student_box3{
	padding-top: 3%;
	background:#ffffff;	
	width:23%;
	float:left;
	margin: 0 1%;
	border-style:solid;
	border-color:#ebebeb;
}
.good_student_box4{
	padding-top: 3%;
	background:#ffffff;	
	width:24%;
	float:left;
	margin-left:1%;
	border-style:solid;
	border-color:#ebebeb;
}
.good_student_box_text{
	padding: 0 6%;
	text-align:left;
}